[
    {
        "name": "blockingtest",
        "files": [
"tinyssh-tests/blockingtest.c", 
"tinyssh/blocking.c",
"tinyssh/buf.c",
"tinyssh/byte.c",
"tinyssh/channel.c",
"tinyssh/channel_drop.c",
"tinyssh/channel_fork.c",
"tinyssh/channel_forkpty.c",
"tinyssh/channel_subsystem.c",
"tinyssh/coe.c",
"tinyssh/connectioninfo.c",
"tinyssh/die.c",
"tinyssh/dropuidgid.c",
"tinyssh/e.c",
"tinyssh/env.c",
"tinyssh/getln.c",
"tinyssh/global.c",
"tinyssh/iptostr.c",
"tinyssh/load.c",
"tinyssh/log.c",
"tinyssh/loginshell.c",
"tinyssh/logsys.c",
"tinyssh/main_tinysshd.c",
"tinyssh/main_tinysshd_makekey.c",
"tinyssh/main_tinysshd_printkey.c",
"tinyssh/newenv.c",
"tinyssh/numtostr.c",
"tinyssh/open.c",
"tinyssh/packet.c",
"tinyssh/packet_auth.c",
"tinyssh/packet_channel_open.c",
"tinyssh/packet_channel_recv.c",
"tinyssh/packet_channel_request.c",
"tinyssh/packet_channel_send.c",
"tinyssh/packet_get.c",
"tinyssh/packet_hello.c",
"tinyssh/packet_kex.c",
"tinyssh/packet_kexdh.c",
"tinyssh/packet_put.c",
"tinyssh/packet_recv.c",
"tinyssh/packet_send.c",
"tinyssh/packet_unimplemented.c",
"tinyssh/packetparser.c",
"tinyssh/porttostr.c",
"tinyssh/randommod.c",
"tinyssh/readall.c",
"tinyssh/savesync.c",
"tinyssh/ssh.c",
"tinyssh/sshcrypto.c",
"tinyssh/sshcrypto_cipher.c",
"tinyssh/sshcrypto_cipher_chachapoly.c",
"tinyssh/sshcrypto_kex.c",
"tinyssh/sshcrypto_kex_curve25519.c",
"tinyssh/sshcrypto_kex_sntrup4591761x25519.c",
"tinyssh/sshcrypto_key.c",
"tinyssh/sshcrypto_key_ed25519.c",
"tinyssh/str.c",
"tinyssh/stringparser.c",
"tinyssh/subprocess_auth.c",
"tinyssh/subprocess_sign.c",
"tinyssh/tinysshd-makekey.c",
"tinyssh/tinysshd-printkey.c",
"tinyssh/tinysshd.c",
"tinyssh/trymlock.c",
"tinyssh/writeall.c", 
        "crypto/*.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh -Ibuild/include/"
    },
    {
        "name": "buftest",
        "files": ["tinyssh-tests/buftest.c", "tinyssh/*.c", "crypto/*.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh -Ibuild/include/"
    },
    {
        "name": "bytetest",
        "files": ["tinyssh-tests/bytetest.c", "tinyssh/*.c", "crypto/*.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh -Ibuild/include/"
    },
    {
        "name": "channel_droptest",
        "files": ["tinyssh-tests/channel_droptest.c", "tinyssh/*.c", "crypto/*.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh -Ibuild/include/"
    },
    {
        "name": "channel_forkptytest",
        "files": ["tinyssh-tests/channel_forkptytest.c", "tinyssh/*.c", "crypto/*.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh -Ibuild/include/"
    }
]
