[
    {
        "name": "blockingtest",
        "files": ["tinyssh-tests/blockingtest.c", "tinyssh/*.c", "crypto/*.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh -Ibuild/include/"
    },
    {
        "name": "buftest",
        "files": ["tinyssh-tests/buftest.c", "tinyssh/*.c", "crypto/*.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh -Ibuild/include/"
    },
    {
        "name": "bytetest",
        "files": ["tinyssh-tests/bytetest.c", "tinyssh/*.c", "crypto/*.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh -Ibuild/include/"
    },
    {
        "name": "channel_droptest",
        "files": ["tinyssh-tests/channel_droptest.c", "tinyssh/*.c", "crypto/*.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh -Ibuild/include/"
    },
    {
        "name": "channel_forkptytest",
        "files": ["tinyssh-tests/channel_forkptytest.c", "tinyssh/*.c", "crypto/*.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh -Ibuild/include/"
    }
]
