[
    {
        "name": "blockingtest",
        "files": ["tinyssh-tests/blockingtest.c", "tinyssh/blocking.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh"
    },
    {
        "name": "bytetest",
        "files": ["tinyssh-tests/bytetest.c", "tinyssh/byte.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh"
    },
    {
        "name": "channel_forktest1",
        "main": "test1",
        "files": ["tinyssh-tests/channel_forktest.c", "tinyssh/writeall.c", "tinyssh/readall.c", "tinyssh/channel.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh"
    },
    {
        "name": "channel_forktest2",
        "main": "test2",
        "files": ["tinyssh-tests/channel_forktest.c", "tinyssh/writeall.c", "tinyssh/readall.c", "tinyssh/channel.c"],
        "compilation_cmd": "-Itinyssh-tests -Itinyssh"
    }
]
